<meta charset="utf-8" />
<base href="/">
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="description" content="Parody - Digital Agency Portfolio Html Template" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<link rel="icon" type="image/png" href="/assets/img/logo/faviconSociolyze.png">
<!-- CSS here -->
<!--<< Bootstrap min.css >>-->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<!--<< magnific-popup.css >>-->
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<!--<< fontawesome-all.min.css >>-->
<link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
<!--<< swiper-bundle.min.css >>-->
<link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
<!--<< odometer.css >>-->
<link rel="stylesheet" href="assets/css/odometer.css">
<!--<< ion.rangeSlider.min.css >>-->
<link rel="stylesheet" href="assets/css/ion.rangeSlider.min.css">
<!--<< effect-slicer.css >>-->
<link rel="stylesheet" href="assets/css/effect-slicer.css">
<!--<< animate.css >>-->
<link rel="stylesheet" href="assets/css/animate.css">
<!--<< default.css >>-->
<link rel="stylesheet" href="assets/css/defauls-spacing.css">
<!--<< main.css >>-->
<link rel="stylesheet" href="assets/css/main.css">
<!--<< custom.css >>-->
<link rel="stylesheet" href="assets/css/custom.css">