        <!-- td-portfolio-area-start -->
        <div class="td-portfolio-area pt-125">
          <h2 class="td-portfolio-2-bigtitle td-split-text td-split-in-right">
            Work
          </h2>
          <div class="td-portfolio-2-slider-wrap mb-10">
            <div class="swiper-container td-portfolio-2-slider">
              <div class="swiper-wrapper slide-transtion">
                <div class="swiper-slide">
                  <div class="td-portfolio-2-item p-relative">
                    <div class="td-portfolio-2-thumb fix">
                      <img src="assets/img/portfolio/2/thumb.jpg" alt="" />
                    </div>
                    <div class="td-portfolio-2-content">
                      <div class="dates mb-10">
                        <span>2024</span>
                        <span class="dot"></span>
                        <span>Parody</span>
                      </div>
                      <a class="title" href="portfolio-details.html">Colyfate tent</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="td-portfolio-2-item p-relative">
                    <div class="td-portfolio-2-thumb fix">
                      <img src="assets/img/portfolio/2/thumb-2.jpg" alt="" />
                    </div>
                    <div class="td-portfolio-2-content">
                      <div class="dates mb-10">
                        <span>2024</span>
                        <span class="dot"></span>
                        <span>Parody</span>
                      </div>
                      <a class="title" href="portfolio-details.html">Colyfate tent</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="td-portfolio-2-item p-relative">
                    <div class="td-portfolio-2-thumb fix">
                      <img src="assets/img/portfolio/2/thumb-3.jpg" alt="" />
                    </div>
                    <div class="td-portfolio-2-content">
                      <div class="dates mb-10">
                        <span>2024</span>
                        <span class="dot"></span>
                        <span>Parody</span>
                      </div>
                      <a class="title" href="portfolio-details.html">Colyfate tent</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="td-portfolio-2-item p-relative">
                    <div class="td-portfolio-2-thumb fix">
                      <img src="assets/img/portfolio/2/thumb-4.jpg" alt="" />
                    </div>
                    <div class="td-portfolio-2-content">
                      <div class="dates mb-10">
                        <span>2024</span>
                        <span class="dot"></span>
                        <span>Parody</span>
                      </div>
                      <a class="title" href="portfolio-details.html">Colyfate tent</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="td-portfolio-2-item p-relative">
                    <div class="td-portfolio-2-thumb fix">
                      <img src="assets/img/portfolio/2/thumb-5.jpg" alt="" />
                    </div>
                    <div class="td-portfolio-2-content">
                      <div class="dates mb-10">
                        <span>2024</span>
                        <span class="dot"></span>
                        <span>Parody</span>
                      </div>
                      <a class="title" href="portfolio-details.html">Colyfate tent</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="td-portfolio-2-item p-relative">
                    <div class="td-portfolio-2-thumb fix">
                      <img src="assets/img/portfolio/2/thumb-6.jpg" alt="" />
                    </div>
                    <div class="td-portfolio-2-content">
                      <div class="dates mb-10">
                        <span>2024</span>
                        <span class="dot"></span>
                        <span>Parody</span>
                      </div>
                      <a class="title" href="portfolio-details.html">Colyfate tent</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="td-portfolio-2-item p-relative">
                    <div class="td-portfolio-2-thumb fix">
                      <img src="assets/img/portfolio/2/thumb-7.jpg" alt="" />
                    </div>
                    <div class="td-portfolio-2-content">
                      <div class="dates mb-10">
                        <span>2024</span>
                        <span class="dot"></span>
                        <span>Parody</span>
                      </div>
                      <a class="title" href="portfolio-details.html">Colyfate tent</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="td-portfolio-2-item p-relative">
                    <div class="td-portfolio-2-thumb fix">
                      <img src="assets/img/portfolio/2/thumb-8.jpg" alt="" />
                    </div>
                    <div class="td-portfolio-2-content">
                      <div class="dates mb-10">
                        <span>2024</span>
                        <span class="dot"></span>
                        <span>Parody</span>
                      </div>
                      <a class="title" href="portfolio-details.html">Colyfate tent</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="td-portfolio-2-slider-wrap">
            <div class="swiper-container td-portfolio-2-slider-2" dir="rtl">
              <div class="swiper-wrapper slide-transtion">
                <div class="swiper-slide">
                  <div class="td-portfolio-2-item p-relative">
                    <div class="td-portfolio-2-thumb fix">
                      <img src="assets/img/portfolio/2/thumb-7.jpg" alt="" />
                    </div>
                    <div class="td-portfolio-2-content">
                      <div class="dates mb-10">
                        <span>2024</span>
                        <span class="dot"></span>
                        <span>Parody</span>
                      </div>
                      <a class="title" href="portfolio-details.html">Colyfate tent</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="td-portfolio-2-item p-relative">
                    <div class="td-portfolio-2-thumb fix">
                      <img src="assets/img/portfolio/2/thumb-8.jpg" alt="" />
                    </div>
                    <div class="td-portfolio-2-content">
                      <div class="dates mb-10">
                        <span>2024</span>
                        <span class="dot"></span>
                        <span>Parody</span>
                      </div>
                      <a class="title" href="portfolio-details.html">Colyfate tent</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="td-portfolio-2-item p-relative">
                    <div class="td-portfolio-2-thumb fix">
                      <img src="assets/img/portfolio/2/thumb.jpg" alt="" />
                    </div>
                    <div class="td-portfolio-2-content">
                      <div class="dates mb-10">
                        <span>2024</span>
                        <span class="dot"></span>
                        <span>Parody</span>
                      </div>
                      <a class="title" href="portfolio-details.html">Colyfate tent</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="td-portfolio-2-item p-relative">
                    <div class="td-portfolio-2-thumb fix">
                      <img src="assets/img/portfolio/2/thumb-2.jpg" alt="" />
                    </div>
                    <div class="td-portfolio-2-content">
                      <div class="dates mb-10">
                        <span>2024</span>
                        <span class="dot"></span>
                        <span>Parody</span>
                      </div>
                      <a class="title" href="portfolio-details.html">Colyfate tent</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="td-portfolio-2-item p-relative">
                    <div class="td-portfolio-2-thumb fix">
                      <img src="assets/img/portfolio/2/thumb-3.jpg" alt="" />
                    </div>
                    <div class="td-portfolio-2-content">
                      <div class="dates mb-10">
                        <span>2024</span>
                        <span class="dot"></span>
                        <span>Parody</span>
                      </div>
                      <a class="title" href="portfolio-details.html">Colyfate tent</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="td-portfolio-2-item p-relative">
                    <div class="td-portfolio-2-thumb fix">
                      <img src="assets/img/portfolio/2/thumb-4.jpg" alt="" />
                    </div>
                    <div class="td-portfolio-2-content">
                      <div class="dates mb-10">
                        <span>2024</span>
                        <span class="dot"></span>
                        <span>Parody</span>
                      </div>
                      <a class="title" href="portfolio-details.html">Colyfate tent</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="td-portfolio-2-item p-relative">
                    <div class="td-portfolio-2-thumb fix">
                      <img src="assets/img/portfolio/2/thumb-5.jpg" alt="" />
                    </div>
                    <div class="td-portfolio-2-content">
                      <div class="dates mb-10">
                        <span>2024</span>
                        <span class="dot"></span>
                        <span>Parody</span>
                      </div>
                      <a class="title" href="portfolio-details.html">Colyfate tent</a>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="td-portfolio-2-item p-relative">
                    <div class="td-portfolio-2-thumb fix">
                      <img src="assets/img/portfolio/2/thumb-6.jpg" alt="" />
                    </div>
                    <div class="td-portfolio-2-content">
                      <div class="dates mb-10">
                        <span>2024</span>
                        <span class="dot"></span>
                        <span>Parody</span>
                      </div>
                      <a class="title" href="portfolio-details.html">Colyfate tent</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- td-portfolio-area-end -->