<!-- JS here -->
<!--<< jquery.Js >>-->
<script src="/assets/js/vendor/jquery.js"></script>
<!--<< bootstrap.min.Js >>-->
<script src="/assets/js/bootstrap.min.js"></script>
<!--<< gsap.Js >>-->
<script src="/assets/js/jsap/gsap.js"></script>
<!--<< gsap-scroll-smoother.Js >>-->
<script src="/assets/js/jsap/gsap-scroll-smoother.js"></script>
<!--<< gsap-scroll-trigger.Js >>-->
<script src="/assets/js/jsap/gsap-scroll-trigger.js"></script>
<!--<< gsap-scroll-to-plugin.Js >>-->
<script src="/assets/js/jsap/gsap-scroll-to-plugin.js"></script>
<!--<< gsap-split-text.Js >>-->
<script src="/assets/js/jsap/gsap-split-text.js"></script>
<!--<< isotope.pkgd.min.Js >>-->
<script src="/assets/js/isotope.pkgd.min.js"></script>
<!--<< ion.rangeSlider.min.Js >>-->
<script src="/assets/js/ion.rangeSlider.min.js"></script>
<!--<< effect-slicer.Js >>-->
<script src="/assets/js/effect-slicer.js"></script>
<!--<< imagesloaded.pkgd.min.Js >>-->
<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
<!--<< jquery.magnific-popup.min.Js >>-->
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<!--<< jquery.odometer.min.Js >>-->
<script src="/assets/js/jquery.odometer.min.js"></script>
<!--<< jquery-appear.Js >>-->
<script src="/assets/js/jquery-appear.js"></script>
<!--<< swiper-bundle.min.Js >>-->
<script src="/assets/js/swiper-bundle.min.js"></script>
<!--<< jquery.nice-select.min.Js >>-->
<script src="/assets/js/nice-select.js"></script>
<!--<< wow.Js >>-->
<script src="/assets/js/wow.js"></script>
<!--<< ajax-form.Js >>-->
<script src="/assets/js/ajax-form.js"></script>
<!--<< main.Js >>-->
<script src="/assets/js/main.js"></script>