<div class="col-lg-3 col-md-6 col-sm-6">
  <div class="td-team-4-wrap p-relative mb-30">
    <div class="td-team-4-thumb">
      <img class="w-100" src="/assets/img/team/{{ image }}" alt="{{ name }}">
    </div>
    <div class="td-team-4-content text-center">
      <span class="td-team-4-subtitle">{{ role }}</span>
      <h3 class="td-team-4-title"><a href="team-details.html">{{ name }}</a></h3>
      <div class="td-team-4-social">
        <a href="{{ social.twitter }}" style="color: #e78523;">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="{{ social.facebook }}" style="color: #e78523;">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="{{ social.instagram }}" style="color: #e78523;">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="{{ social.linkedin }}" style="color: #e78523;">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </div>
  </div>
</div>