 <!-- td-testimonial-area-start -->
<div class="td-testimonial-area grey-bg-2 pt-100 pb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="td-testimonial-left mb-40 wow fadeInLeft" data-wow-delay=".5s"
                    data-wow-duration="1s">
                    <span class="td-section-subtitle mb-185 d-inline-block" style="color: #e78523;">CLIENTS FEEDBACK</span>
                    <img class="mb-20" src="assets/img/testimonial/user.png" alt="">
                    <p>More than 25k clients all<br>
                        over the world</p>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="td-testimonial-content ml-80 mb-50">
                    <h2 class="td-testimonial-title mb-65 td-text-invert">What Our Clients<br> <span style="color: #e78523;">Say
                            About Us</span></h2>
                    <div class="row wow fadeInRight" data-wow-delay=".5s" data-wow-duration="1s">
                        <div class="col-lg-4">
                            <div class="td-testimonial-thumb fix td-rounded-10 mb-40">
                                <img data-speed=".9" class="w-100 td-rounded-10"
                                    src="assets/img/testimonial/thumb.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="td-testimonial-slide-content ml-25 mb-40">
                                <div class="swiper-container td-testimonial-slider mb-120">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="td-testimonial-slide-content">
                                                <p class="mb-40">We are excited for our work and how it
                                                    positively impacts clients.
                                                    With over 12 years of experience we have been
                                                    constantly
                                                    providing solutions. We are committed to deliver
                                                    unique
                                                    digital media solutions from web design</p>
                                                <h6>David Backhum</h6>
                                                <span style="color: #e78523;">Designer</span>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="td-testimonial-slide-content">
                                                <p class="mb-40">We are excited for our work and how it
                                                    positively impacts clients.
                                                    With over 12 years of experience we have been
                                                    constantly
                                                    providing solutions. We are committed to deliver
                                                    unique
                                                    digital media solutions from web design</p>
                                                <h6>David Backhum</h6>
                                                <span style="color: #e78523;">Designer</span>
                                            </div>
                                        </div>
                                        <!-- ... (rest of testimonial slides remain the same) ... -->
                                    </div>
                                </div>
                                <div class="td-testimonial-navigation mb-30">
                                    <span class="td-testimonial-prev d-inline-block" style="color: #e78523;">
                                        <svg width="31" height="24" viewBox="0 0 31 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M30.8699 12.2679L0.014612 12.4214"
                                                stroke="currentColor" stroke-width="1.5"
                                                stroke-miterlimit="10" />
                                            <path
                                                d="M11.5445 0C11.5445 6.63283 6.38111 12 2.56383e-05 12"
                                                stroke="currentColor" stroke-width="1.5"
                                                stroke-miterlimit="10" />
                                            <path
                                                d="M4.08971e-05 12C6.38112 12 11.5446 17.3671 11.5446 24"
                                                stroke="currentColor" stroke-width="1.5"
                                                stroke-miterlimit="10" />
                                        </svg>
                                    </span>
                                    <span class="td-testimonial-next ml-15 d-inline-block" style="color: #e78523;">
                                        <svg width="31" height="24" viewBox="0 0 31 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M-0.000234102 12.2679L30.855 12.4214"
                                                stroke="currentColor" stroke-width="1.5"
                                                stroke-miterlimit="10" />
                                            <path d="M19.3251 0C19.3251 6.63283 24.4886 12 30.8696 12"
                                                stroke="currentColor" stroke-width="1.5"
                                                stroke-miterlimit="10" />
                                            <path d="M30.8696 12C24.4885 12 19.3251 17.3671 19.3251 24"
                                                stroke="currentColor" stroke-width="1.5"
                                                stroke-miterlimit="10" />
                                        </svg>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- td-testimonial-area-end -->